services:
  backend:
    build:
      context: ./backend
    ports:
      - "5001:5000"
    env_file:
      - ./backend/.env
    environment:
      - PORT=5000

  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:5001
    depends_on:
      - backend
