/* .introduction-wrapper {
  min-height: 100vh;
  background-color: #c8c0c0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen;
  animation: fadeInBackground 1s ease forwards;
  padding-top: 40px;
} */

.introduction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.introduction-card {
  background-color: #e1e1e1;
  padding: 32px 48px;
  border-radius: 20px;
  max-width: 1200px;
  width: 100%;
  color: #333;
  font-size: 1.05rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.introduction-card h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.introduction-card p {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cta-button {
  background-color: #8b6b55;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #6a5240;
  color: white;
}

.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.contact-buttons a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.contact-buttons a.github {
    background-color: #f0f0f0;
}

.contact-buttons a.linkedin {
    background-color: #e0eafc;
}

.contact-buttons a.gmail {
    background-color: #fce0e0;
}


.introduction-card li {
  text-align: left;
  margin-bottom: 15px;

}